.Rooms-container {
    width: 100%;
}

.Rooms {
    width: 100%;
    max-height: 22rem;
}

.Rooms_btn {
    cursor: pointer;
    width: 100%;
    background-color: #dbd4d4;
    padding: 0.2rem 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.Rooms_btn h1 {
    margin-left: 2rem;
}

 


 